.statistics {
  width: 450px;
  margin: 0 auto;
  text-align: center;
  background-color: #ffffff;
  padding-top: 18px;
}

.title {
  text-transform: uppercase;
  margin: 0;
  color: #495057;
}

.statList {
  display: flex;
  padding-left: 0;
}

.item {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 13px;
  color: #ffffff;
}
.percentage {
  font-size: 20px;
  color: #ffffff;
}
